@model IEnumerable<RolowayTestApp.Models.Income>

@{
    ViewBag.Title = "Index";
}

<h2>Incomes</h2>
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Filter by Category: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    <p>
        Pick a date range to see incomes:
        <div class="form-horizontal">
            <div class="form-group form-group-sm">
                <div class="col-md-8">
                    @Html.TextBox("start", null, new { @class = "form-control datepicker" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-md-8">
                    @Html.TextBox("end", null, new { @class = "form-control datepicker" })
                </div>
            </div>
            <div class="form-group-sm">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" /> <span> </span>
                </div>
            </div>
        </div>
    </p>

}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Income Category", "Index", new { sortOrder = ViewBag.CategorySortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncomeAmount)
        </th>
        <th>
            @Html.ActionLink("Income Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IncomeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.IncomeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IncomeID })
            </td>
        </tr>
    }

</table>


